.pageContainer{
  padding: 20px 0 0;
  background-color: var(--white-grey);
}
.galleryContainer{
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 45px;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}
.image{
  border-radius: 15px;
  box-shadow: 2px 2px 10px 5px var(--medium-grey);
}
@media screen and (max-width: 920px){
  .galleryContainer{
    grid-template-columns: repeat(2, 250px);
  }
}
@media screen and (max-width: 630px){
  .galleryContainer{
    display: flex;
    flex-direction: column;
  }
  .imageContainer{
    width: 100%;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .image{
    max-width: 250px;
    width: 100%;
  }
}