:root{
  --light-red:#fe4141;
  --light-red-30-o:#fe41418b;
  --dark-red: #da2c2f;
  --salmon: #eea9a9;
  --medium-red: #ff0004;
  --bright-green: #56f213;
  --light-green: rgb(119, 219, 133);
  --dark-green: #19b02d;
  --bright-yellow: #f5f107;
  --bright-yellow-30-o: #f5f1074e;
  --light-yellow: #f2f074;
  --light-grey: #dbdbdb;
  --medium-grey: #b3b2af;
  --dark-grey: #6e6e6e;
  --light-blue: #99ccff;
  --medium-blue: #3399ff;
  --dark-black: #000000;
  --medium-black:#363636; 
  --white-grey: #f5f5f5;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
					
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}